#LoginPage {
  text-align: center;
}

.LoginPage-container {
  max-width: 700px;
  margin: auto;
}
.LoginPage-title {
  line-height: 1.1em;
  margin-bottom: 20px;
  padding: 0 0.25em;
}

.LoginPage-overlay {
  background-color: white;
  border: 1px solid #cecece;
  color: black;
  max-width: 500px;
  background: white;
  max-width: 500px;
  margin: 90px auto 0;
  padding: 20px;
  position: relative;
  padding-top: 90px;
}

.LoginPage-form {
  max-width: 300px;
  margin: 20px auto;
}
