/* Global styles */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  background-color: #FAFAFA;
  min-height: 100%;
  min-width: 100%;
}
